/* =======================================
   VARIÁVEIS CSS
======================================= */
:root {
    --cor-fundo: #f4f6f9;
    --cor-primaria: #3498db;
    --cor-primaria-dark: #2980b9;
    --cor-hover: #1abc9c;
    --cor-texto: #333;
    --cor-cabecalho: #2c3e50;
    --cor-card: #ffffff;
    --sombra-leve: 0 2px 5px rgba(0, 0, 0, 0.1);
}