<!DOCTYPE html>
<html>
<head>
    <title>Formulário Loja</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'loja_app/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Formulário da Loja</h1>

        <form method="post" class="formulario">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="botao">Salvar</button>
        </form>

        <a href="{% url 'lista_lojas' %}" class="botao voltar">Voltar</a>
    </div>
</body>
</html>
